@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --header-height: 70px;
    --main-bg: #d5d5d5;
    --main-transition: all 0.4s ease;
    --main-color: whitesmoke;
    --main-font: "Open Sans", sans-serif;
    --main-font-weight: 500;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}
input {
    outline: none;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.row-flex {
    display: flex;
    justify-content: space-between;
}
.row-grid {
    display: flex;
    justify-content: space-between;
}
.main-h2 {
    font-weight: var(--main-font-weight);
    margin: 12px 0;
    font-size: 20px;
}
.p-to-top {
    padding-top: var(--header-height);
}
.main-btn {
    padding: 10px 10px;
    border: none;
    color: var(--main-color);
    background-color: black;
    cursor: pointer;
    transition: var(--main-transition);
}
.main-btn:hover {
    background-color: var(--main-bg);
    color: #000;
}
.product-item-price {
    margin-top: 6px;
    color: red;
}
.product-item-price p {
    font-weight: var(--main-font-weight);
}
.product-item-price p span {
    font-weight: 300;
    font-size: small;
    text-decoration: line-through;
    margin-left: 12px;
}
.heading-text {
    padding: 6px;
    position: relative;
    margin: 20px 0;
}
.heading-text::after{
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 50%;
    background-color: var(--main-bg);
    left: 0;
    top: 50%;
    border-radius: 12px;
    transform: translateY(-50%);
}
.heading-text::before {
    position: absolute;
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    left: 6px;
    bottom: 0;
    background-color: #000;
    border-radius: 12px;
}

/* header */
header.active {
    background-color: var(--main-bg);
}
header.active .header-nav nav ul li:hover {
    background-color: var(--main-color);

}
header {
    height: var(--header-height);
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: var(--main-transition);
}
.header-logo img {
    width: 200px;
    cursor: pointer;
}
header .row-flex {
    align-items: center;
}
.header-nav nav ul {
    display: flex;
}
.header-nav nav ul li {
    padding: 0 12px;
    transition: var(--main-transition);
}
.header-nav nav ul li a {
    line-height: var(--header-height);
    font-size: smaller;
}
.header-nav nav ul li:hover {
    background-color: var(--main-bg);
}
.header-search {
    position: relative;
}
.header-search i {
    position: absolute;
    left: 6px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header-search input {
    height: 30px;
    border: 1px solid #000;
    padding-left: 26px;
    border-radius: 15px;
}
.header-cart i {
    font-size: larger;
    cursor: pointer;
    position: relative;
}
/* .header-cart i::after {
    position: absolute;
    content: attr(number);
    width: 18px;
    height: 18px;
    background-color: #000;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    color: var(--main-color);
    display: flex;
    font-size: small;
    text-align: center;
    align-items: center;
    justify-content: center;
} */
/* slider */
.slider {
    /* width: 100%; */
    overflow: hidden;
    aspect-ratio: 2.45/1;
    position: relative;
}
.slider-items {
    position: relative;
    transition: var(--main-transition);
}
.slider-item {
    position: absolute;
}
.slider-item img {
    width: 100vw;
}
.slider-arrow {
    position: absolute;
    z-index: 1; 
    right: 12px;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider:hover .slider-arrow i {
    display: block;
}
.slider-arrow i {
    cursor: pointer;
    font-size: 30px;
    color: rgb(117, 116, 116);
    margin: 10px 0;
    display: none;
    background-color: whitesmoke;
    border-radius: 6px;
}

/* hot-product */
.hot-products .row-grid-hot-products {
    display: grid;
    grid-template-columns: repeat(5,18%);
}
.hot-product-item img {
    width: 100%;
    height: 300px;
    border: 1px solid var(--main-bg);
    /* overflow: hidden; */
}
.hot-product-item {
    margin-bottom: 50px;
}
.hot-product-item > p {
    font-weight: var(--main-font-weight);
}
.hot-product-item > span {
    font-size: smaller;
    font-weight: 300;
}
.hot-product-item:hover >p {
    color:red;
}

/* footer */
footer {
    margin-top: 50px;
    padding: 50px 0 0 12px;
    background-color: var(--main-bg);
}
footer .row-grid {
    display: grid;
    grid-template-columns: repeat(4,25%);
}
.footer-item p:first-child {
    font-weight: bolder;
    margin-bottom: 12px;
}
.footer-item p {
    font-weight: lighter;
    line-height: 32px;
}

/* product-detail */
.product-detail .row-grid{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.product-detail .row-grid i {
    margin: 0 12px;
}
.product-detail-row-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
}
.product-detail-left img {
    width: 100%;
    height: 700px;
}
.product-detail-left {
    position: relative;
}
.product-images-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
}
.product-images-items img {
    width: 70px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--main-bg);
    cursor: pointer;
    opacity: 0.5;
}
.product-images-items img.active{
    opacity: 1;
}
.product-detail-right-infor h1 {
    margin-top: 12px;
    font-weight: var(--main-font-weight);
}

.product-detail-right-des ul {
    padding: 6px 22px ;
    background-color: var(--main-bg);
    border-radius: 6px;
}
/* .product-detail-right-des ul li {
    list-style: circle var(--main-color);
    margin-bottom: 12px;
} */
.product-detail-right-quantity-input input {
    height: 25px;
    width: 90px;
    text-align: center;
    border: none;
}
.product-detail-right-quantity-input {
    position: relative;
    width: 90px;
    margin-bottom: 20px;
}
.product-detail-right-quantity-input i {
    height: 25px;
    width: 25px;
    background-color: #000;
    color: var(--main-color);
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.product-detail-right-quantity-input .ri-add-line {
    right: 0;
    top: 0;
}
/* hide arrow number of input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.product-detail-content{
    max-height: 600px;
    overflow-y: auto;
    font-size: var(--main-font);
    margin-left: 24px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid var(--main-bg);
}
.product-detail-content img {
    width: 80%;
    margin: 40px 0 40px 10%;
}
.product-detail-content p {
    font-size: var(--main-font);
}

/* cart-section */
.cart-section .row-grid-content{
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 40px;
}
.cart-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
}
.cart-section table,th,td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 6px;
}
.cart-section table thead {
    background-color: var(--main-bg);
}
.cart-section table thead tr th {
    font-weight: var(--main-font-weight);
}
.cart-section table tbody tr td:nth-child(2){
    text-align: left;
}
.cart-section table tbody tr td:nth-child(2) h1 {
    font-size: small;
}
.cart-section table tbody tr td:nth-child(2) .product-item-price {
    font-size: small;
}
.cart-section table tbody tr td:nth-child(2) .product-detail-right-quantity-input{
    margin-top: 12px;
}
.cart-section table tbody tr td:last-child{
    cursor: pointer;
}
.cart-section table tbody tr td:last-child:hover {
    color: red;
}
.cart-section-left-detail {
    text-align: center;
}
.cart-section-left-detail a{
    font-size: 15px;
    padding: 5px;
    font-style: italic;
    color: red;
}
.cart-section-left-detail a:hover {
    background-color: var(--main-bg);
    color: black;
    font-style: italic;
}
.cart-section-left-detail button {
    padding: 6px;
}
.cart-section-right input{
    height: 35px;
    border: none;
    background-color: var(--main-bg);
    width: 100%;
    margin: 0 0 12px 0;
    border-radius: 5px;
    padding-left: 6px;
}
.cart-section-right select{
    height: 35px;
    border: none;
    background-color: var(--main-bg);
    margin: 0 0 12px 0;
    border-radius: 5px;
    padding-left: 6px;
    width: 100%;
}
.cart-section-right-input-name-phone input:first-child{
    margin-right: 12px;
}
/* .cart-section-right-select select:nth-child(2){
    margin: 0 12px;
}

.cart-section-right-select {
    display: flex;
    justify-content: space-between;
} */
.cart-section-right-input-name-phone{
    display: flex;
    justify-content: space-between;
}
.cart-section-right button {
    padding: 8px;
}
.cart-section-right button:hover{
    background-color: var(--main-color);
}
/* oder_confirm */
.oder_comfirm .row-grid {
    align-items: center;
    justify-content: flex-start;
}
.oder_comfirm-content{
    padding: 20px 12px;
    background-color: var(--main-bg);
    border-radius: 5px;
    margin: 15px 0;
    width: 100%;
}
.oder_comfirm-content button:hover{
    background-color: var(--main-color);
}








/* reponsive */
.header-bar-icon, .header-logo-mobile {
    display: none;
}
@media only screen and (max-width: 750px) {
    .row-flex , .row-grid{
        padding: 12px 14px;
    }
    /* reponsive header */
    header .row-flex {
        height: 70px;
    }
    .header-bar-icon, .header-logo-mobile {
        display: block;
    }
    .header-nav{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100vw;
        background-color: #000;
        color: var(--main-color);
        transition: var(--main-transition);
    }
    .header-nav.active {
        top: var(--header-height);
    }
    .header-nav nav ul {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }
    .header-logo-mobile img {
        width: 70px;
    }
    .header-search {
        display: none;
    }
    .header-logo {
        display: none;
    }
    /* hot_product */
    .hot-products .row-grid-hot-products {
        display: grid;
        grid-template-columns: repeat(2,48%);
    }
    .hot-product-item {
        margin-bottom: 20px;
    }
    /* footer */
    footer .row-grid {
        display: grid;
        grid-template-columns: repeat(2,48%);
    }
    /* product-detail */
    .product-detail-row-grid {
        display: grid;
        grid-template-columns: repeat(1,100%);
        row-gap: 30px;
    }
    /* cart-detail */
    .cart-section .row-grid-content{
        display: grid;
        grid-template-columns: 100%;
    }

}